<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Donation goal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.title, project %></td>
        <td><%= project.description %></td>
        <td><%= project.donation_goal %></td>
        <td><%= pluralize(project.votes.count, "vote") %></td>
        <td><%= button_to 'Vote Now +1', upvote_project_path(project), method: :post %></td>
        <td><%# link_to 'Show', project %></td>
        <td><%# link_to 'Edit', edit_project_path(project) %></td>
        <td><%# link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
